{
  "minMsi": 80,
  "source": {
    "directories": [
      "src"
    ]
  },
  "timeout": 10,
  "logs": {
    "text": "build/infection.log",
    "badge": {
      "branch": "main"
    },
    "github": false
  },
  "mutators": {
    "@default": true
  }
}
